<div *ngIf="carregarLoading; else carregando">
    <form (ngSubmit)="submitForm()" [formGroup]="formProduto" class="input-group mb-3">
        <input class="form-control" formControlName="nome" placeholder="Nome do Produto" type="text">
        <div class="input-group-append">
            <button (click)="submitForm()" [disabled]="formProduto.invalid" class="btn btn-primary"
                    type="button">Incluir Produto
            </button>
        </div>
    </form>

    <table class="container cor-texto table table-striped">
        <thead>
        <tr class="text-center">
            <th class="col-4" scope="col">Nome</th>
            <th class="col-4" scope="col">Status</th>
            <th class="col-2" scope="col"></th>
            <th class="col-2" scope="col"></th>
        </thead>

        <tbody *ngFor="let produto of produtos">
        <tr class="text-center">
            <td *ngIf="!produtoEdicaoAtivada; else edicaoAtivada" class="text-table">{{produto.nome}}</td>
            <td>{{produto.comprado ? "Compra Finalizada" : "Compra Aberta"}}</td>
            <td>
                <button (click)="concluirCompra(produto)" [disabled]="produto.comprado" class="btn btn-success"
                        type="button">Concluir Compra
                </button>
            </td>
            <td>
                <button (click)="excluirProduto(produto)" class="btn btn-danger" type="button">Excluir Produto</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #edicaoAtivada>
    <input class="form-control" placeholder="Nome do Produto" type="text">
    <div class="input-group-append">
        <button class="btn btn-success"
                type="button">Incluir Produto
        </button>
    </div>
</ng-template>

<ng-template #carregando>
    <div id="preloader">
        <div class="inner">carregando...
            <div class="bolas">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</ng-template>
