
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 23, 55, 0.3); /* cor do background que vai ocupar o body */
    z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
}

.bolas > div {
    display: inline-block;
    background-color: rgb(189, 64, 64);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 3px;
    animation-name: animarBola;
    animation-iteration-count: infinite;

}

.bolas > div:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
}

.bolas > div:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.cor-texto {
    color: whitesmoke;
}

.container {
    align-items: center;
    margin-bottom: 40%;
}
